.form__input-error {
  min-height: 28px;
  /*border: 1px solid red;*/
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.form__input-error_active {
  opacity: 1;
}