.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 0 0 26px;
  padding: 0;
  object-fit: cover;
  object-position: center;
  transform: translateX(1px);
}

@media screen and (min-width: 1024px) {
  .profile__avatar {
    margin: 0 30px 0 0;
    transform: none;
  }
}
